.cart-widget-container {
  position: relative;
}

.cart-widget-container i {
  font-size: 24px;
  margin-right: 5px;
}

.cart-widget-container span {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -10px;
}
